.profile {
    margin-top: 50px;
    margin-bottom: 60px;


    .shop {
        background-color: #00B207;
        color: aliceblue;
        display: flex;
        padding: 10px;
        gap: 10px;
        width: 25%;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 30px;
        cursor: pointer;
    }

    h1 {
        font-size: 25px;
        font-weight: 700;
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: 1px solid rgb(188, 185, 185);
        padding: 20px 150px 20px 20px;
        width: 30%;


        .navegates.active {
            border-left: 2px solid #00B207;
            opacity: .6;
            max-width: 100%;
            padding: 10px;
        }
    }

    .left {
        margin-left: 30px;
        width: 70%;

        .one {
            border: 1px solid rgb(188, 185, 185);
            padding: 20px 80px;
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .img {
                background-color: rgb(204, 207, 210);
                padding: 30px;
                display: flex;
                justify-content: center;
                border-radius: 50%;
                max-width: 100px;

            }

            img {
                max-width: 40px;
            }

            a {
                color: #00B207;
            }

            a:hover {
                text-decoration: underline;
            }

        }

        .two {
            border: 1px solid rgb(188, 185, 185);
            padding: 20px 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            width: 100%;

            p {
                color: gray;
                width: 50%;
            }

            a {
                color: #00B207;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .here {
            margin-top: 30px;
            display: flex;
            flex-direction: column;

            .hereTwo {
                border: 1px solid rgb(188, 185, 185);
            }

            a {
                color: #00B207;
            }

            a:hover {
                text-decoration: underline;
            }

            h1 {
                padding: 20px;
            }

            div {
                margin-bottom: 20px;
            }

            .secId {
                padding: 20px;

            }

            .id {
                background-color: rgb(190, 186, 186);
                padding: 20px;
            }
        }

        .history {
            border: 1px solid rgb(205, 202, 202);
        }

        .settings {

            h1 {
                border: 1px solid rgb(195, 190, 190);
            }


            button:hover {
                transform: scale(0.99);

                button {
                    margin-right: 5px;
                }
            }

            .first {
                border: 1px solid rgb(195, 190, 190);
            }

            .inputsFi {
                width: 100%;
                margin-top: 20px;
                padding: 20px;

                div {
                    display: flex;
                    flex-direction: column;

                    input {
                        border: 1px solid rgb(195, 190, 190);
                        padding: 10px;
                    }
                }


            }

            .account {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                button {
                    border: 1px solid #00B207;
                    padding: 10px;
                    border-radius: 30px;
                    cursor: pointer;
                    color: #00B207;
                }
            }


            .img {
                background-color: rgb(204, 207, 210);
                padding: 50px;
                display: flex;
                justify-content: center;
                border-radius: 50%;
                max-width: 70%;

            }

            img {
                max-width: 80%;
            }

            .inputsSec {
                border: 1px solid rgb(195, 190, 190);
                padding: 20px;

                form {

                    input {
                        border: 1px solid rgb(195, 190, 190);
                        padding: 10px;
                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                    }

                    .three {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                    }
                }
            }

            .inputsTh {
                border: 1px solid rgb(195, 190, 190);
                padding: 20px;
                width: 100%;

                div {
                    display: flex;
                    flex-direction: column;
                }

                input {
                    border: 1px solid rgb(195, 190, 190);
                    padding: 10px;
                    width: 100%;
                }
            }

        }

        .shopCart {
            display: grid;
            grid-template-columns: 3fr 1fr;
            gap: 10px;

            .productsCart {
                border: 1px solid rgb(214, 206, 206);
                padding: 20px;

                .topEMm {
                    align-items: center;
                    margin-bottom: 20px;
                }

                .empty {
                    color: red;
                    font-size: 20px;
                    font-weight: 700;
                }

                .ret {
                    width: 100%;
                }

                .title {
                    border-bottom: 1px solid rgb(207, 203, 203);
                    padding-bottom: 20px;
                    color: gray;
                }

                .cart-item {
                    border-bottom: 1px solid rgb(207, 203, 203);
                    align-items: center;
                    text-align: center;
                }

                .quantity {
                    border: 1px solid rgb(211, 205, 205);
                    max-width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    border-radius: 40px;
                    gap: 10px;

                }

                .back {
                    display: flex;
                    justify-content: space-between;

                    button {
                        width: 100%;
                        background-color: gray;
                        font-size: 15px;
                    }
                }

                .coupon {
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    align-items: center;
                    text-align: center;


                    h2 {
                        font-size: 20px;
                        font-weight: 700;
                        width: 30%;
                    }

                    div {
                        border: 1px solid rgb(174, 166, 166);
                        border-radius: 30px;
                        width: 100%;
                        justify-content: space-between;

                    }

                    button {
                        background-color: black;
                        color: aliceblue;
                        padding: 10px;
                        border-radius: 30px;
                    }

                    input {
                        outline: none;
                        padding: 20px;
                    }

                }
            }

            .total {
                border: 1px solid rgb(192, 188, 188);
                padding: 20px;

                div {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid rgb(201, 195, 195);
                    padding-bottom: 10px;
                }

                button {
                    width: 100%;
                }

            }
        }
    }
}

@media screen and (min-width: 320px) {
    .allProfile {
        display: flex;
        flex-direction: column;
    }



    .profile {
        .right {
            width: 100%;
            padding-right: 0;
        }

        .left {
            margin: 0;
            width: 100%;

            .one {
                max-width: 100%;
            }

            .two {
                max-width: 100%;
            }
        }

        .details {
            display: flex;
            flex-direction: column;

        }

        .hereTwo {
            display: none;
        }

        .history {
            /* width: 300%; */
            overflow-x: auto;
            font-size: 12px;

            .id {
                padding: 0px !important;
                padding-left: 5px !important;
                padding-top: 20px !important;
                padding-bottom: 20px !important;

                p {
                    padding-right: 20px !important;
                }
            }

        }

        .here .secId {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 !important;
            padding-left: 20px !important;

            p {
                padding-right: 20px !important;
            }
        }

        .left .settings {

            .shop {
                width: 100%;
            }

            .first {
                display: flex;
                flex-direction: column;
            }

            .inputsSec {
                width: 100%;
                margin: 0;

                form {

                    .three {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }

        .left .shopCart {
            font-size: 10px;
            display: flex;
            flex-direction: column;

            .closeBtn {
                img {
                    max-width: 15px;
                }
            }

            .cart-item {
                gap: 5;
            }

            .productsCart .quantity {
                display: flex;
                flex-direction: column;

                img {
                    max-width: 15px;
                }
            }

            .coupon {
                display: flex;
                flex-direction: column;

                div {
                    display: flex;
                    flex-direction: column;
                }

            }
        }

    }
}

@media screen and (min-width: 568px) {

    .allProfile {
        display: flex;
        flex-direction: row;
    }

    .profile {

        .left {
            margin-left: 30px;
        }

        .history {
            width: 120%;

            .id {
                padding: 20px !important;
                p {
                    padding-right: 0px !important;
                }
            }

            .secId {

                p{
                    padding-left: 10px !important;
                }
            }
        }

    }
}

@media screen and (min-width: 1024px) {

    .profile {
        .details {
            display: flex;
            flex-direction: row;
            width: 100%;
            min-height: 100%;
        }

        .right {
            width: 40%;
        }

        .history {
            width: 100%;
            font-size: 14px;
        }

        .left .hereTwo {
            display: block;
        }

        .left .here .secId{
            padding: 20px !important;
        }


        .left .settings {
            .img {
                max-width: 90%;
            }

            .shop {
                width: 50%;
            }

            .first {
                display: flex;
                flex-direction: row;
            }


        }

        .left {

            .shopCart {
                display: grid;
                grid-template-columns: 2fr 1fr;

                .coupon {
                    display: flex;
                    flex-direction: row;

                    h2 {
                        font-size: 15px !important;
                    }

                    div {
                        display: flex;
                        flex-direction: row;
                    }

                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .profile {


        .right {
            width: 30%;
            padding-right: 0;
        }

        .left .settings {

            .shop {
                width: 30%;
            }

            .inputsSec {
                width: 100%;
                margin: 0;

                form {

                    .three {
                        display: flex;
                        flex-direction: row;
                    }
                }
            }
        }

        .left {

            .history{
                font-size: 20px;
            }

            .shopCart {
                font-size: 15px;

                .closeBtn {
                    img {
                        max-width: 25px;
                    }
                }

                .productsCart .quantity {
                    display: flex;
                    flex-direction: row;

                    img {
                        max-width: 20px;
                    }
                }
            }
        }
    }
}